<div>
	<table class="table table-bordered" align="center" style='width:40%'>
		<tr>
			<td class="col-xs-1"><b>新密码:</b></td>
			<td class="col-xs-3"><input class='form-control' type="password"
				name="password1" ng-model='password1'/></td>
		</tr>
		<tr>
			<td class="col-xs-1"><b>再次输入密码:</b></td>
			<td class="col-xs-3"><input class='form-control' type="password"
				name="password2"ng-model='password2'/></td>
		</tr>
		<tr >
			<td colspan="2" align="center"><input type="button" value="确定 " ng-click='changePassword()'
							class="btn btn-primary"></td>
		</tr>
	</table>
</div>