<div class="col-sm-3 col-md-2 sidebar" ng-controller='comboSideBarCtrl'>
	<ul class="nav nav-list">
		<li class="nav-header">信息管理</li>
		<li><a ng-click="showSecondMenu()">体检套餐管理</a></li>
		<ul ng-if="isClickCombo">
		<li><a ng-href="#selectCombo">查看套餐</a></li>
		<li><a ng-href="#addCombo">添加套餐</a></li>
		</ul>
		<li><a ng-href="#officeCtrl">科室管理</a></li>
		<li><a ng-href="">项目管理</a></li>
		<li><a ng-href="#employees">员工信息</a></li>
		<!-- <li class="nav-header">信息查询</li>
		<li><a ng-href="#queryDayReport">体检日报</a></li>
		<li><a ng-href="#queryReservatioin">预约查询</a></li>
		<li><a ng-href="#queryRegistration">登记查询</a></li>
		<li class="nav-header">信息统计</li>
		<li><a ng-href="#">综合统计</a></li>
		<li><a ng-href="">科室统计</a></li>
		<li><a ng-href="#">套餐统计</a></li>
		 -->
		
	</ul>
</div>