USE [PE]
GO
/****** Object:  Table [dbo].[reservation]    Script Date: 05/30/2015 16:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[reservation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[birthday] [varchar](50) NULL,
	[address] [varchar](500) NULL,
	[idCard] [varchar](50) NULL,
	[marriage] [varchar](50) NULL,
	[nationa] [varchar](50) NULL,
	[sex] [varchar](50) NULL,
	[phone_number] [varchar](50) NULL,
	[date] [varchar](50) NULL,
	[reservation_date] [varchar](50) NULL,
	[combo] [varchar](50) NULL,
	[totalAmount] [varchar](50) NULL,
	[physical_examination] [text] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK__reservat__3213E83F1A14E395] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[reservation] ON
SET IDENTITY_INSERT [dbo].[reservation] OFF
/****** Object:  Table [dbo].[registration]    Script Date: 05/30/2015 16:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[registration](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[birthday] [varchar](50) NULL,
	[address] [varchar](500) NULL,
	[idCard] [varchar](50) NULL,
	[marriage] [varchar](50) NULL,
	[nationa] [varchar](50) NULL,
	[sex] [varchar](50) NULL,
	[phone_number] [varchar](50) NULL,
	[date] [varchar](50) NULL,
	[reservation_date] [varchar](50) NULL,
	[combo] [varchar](50) NULL,
	[physical_examination] [text] NULL,
	[comments] [varchar](1000) NULL,
	[group_id] [int] NULL,
 CONSTRAINT [PK__registra__3213E83F1DE57479] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[registration] ON
SET IDENTITY_INSERT [dbo].[registration] OFF
/****** Object:  Table [dbo].[physical_feature]    Script Date: 05/30/2015 16:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[physical_feature](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[result] [varchar](50) NULL,
	[operator] [varchar](50) NULL,
	[compare_man] [varchar](50) NULL,
	[compare_woman] [varchar](50) NULL,
 CONSTRAINT [PK_physical_feathre] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[physical_feature] ON
INSERT [dbo].[physical_feature] ([id], [name], [result], [operator], [compare_man], [compare_woman]) VALUES (3, N'心率', N'过缓', N'<=', N'60次/min', N'60次/min')
INSERT [dbo].[physical_feature] ([id], [name], [result], [operator], [compare_man], [compare_woman]) VALUES (4, N'收缩压', N'偏高', N'>=', N'130 mmHg', N'125 mmHg')
INSERT [dbo].[physical_feature] ([id], [name], [result], [operator], [compare_man], [compare_woman]) VALUES (5, N'舒张压', N'偏高', N'>=', N'85 mmHg', N'80mmHg')
SET IDENTITY_INSERT [dbo].[physical_feature] OFF
/****** Object:  Table [dbo].[office]    Script Date: 05/30/2015 16:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[office](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[office_name] [varchar](50) NULL,
	[office_number] [varchar](50) NULL,
	[office_type] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[office] ON
INSERT [dbo].[office] ([id], [office_name], [office_number], [office_type]) VALUES (1, N'内科', N'101', 1)
INSERT [dbo].[office] ([id], [office_name], [office_number], [office_type]) VALUES (2, N'外科', N'102', 1)
INSERT [dbo].[office] ([id], [office_name], [office_number], [office_type]) VALUES (3, N'眼科', N'103', 1)
SET IDENTITY_INSERT [dbo].[office] OFF
/****** Object:  Table [dbo].[groupReservation]    Script Date: 05/30/2015 16:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[groupReservation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[groupName] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[leaderName] [varchar](20) NULL,
	[leaderPhoneNumber] [varchar](20) NULL,
	[group_number] [int] NULL,
	[combo_id] [int] NULL,
	[combo_discount] [int] NULL,
	[allCount] [varchar](20) NULL,
	[reservation_date] [date] NULL,
	[time] [datetime] NULL,
	[physical_examination] [text] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_groupReservation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[groupReservation] ON
SET IDENTITY_INSERT [dbo].[groupReservation] OFF
/****** Object:  Table [dbo].[examination_project]    Script Date: 05/30/2015 16:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[examination_project](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_name] [varchar](50) NULL,
	[office_id] [int] NULL,
	[price] [varchar](50) NULL,
	[combo_price] [varchar](50) NULL,
	[physical_feature_id] [varchar](50) NULL,
 CONSTRAINT [PK__examinat__3213E83F07020F21] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[examination_project] ON
INSERT [dbo].[examination_project] ([id], [project_name], [office_id], [price], [combo_price], [physical_feature_id]) VALUES (3, N'体重', 2, N'1', N'0', N'[]')
INSERT [dbo].[examination_project] ([id], [project_name], [office_id], [price], [combo_price], [physical_feature_id]) VALUES (13, N'身高', 2, N'2', N'1', N'[1]')
INSERT [dbo].[examination_project] ([id], [project_name], [office_id], [price], [combo_price], [physical_feature_id]) VALUES (14, N'血压', 1, N'3', N'2', N'[3]')
SET IDENTITY_INSERT [dbo].[examination_project] OFF
/****** Object:  Table [dbo].[conclusion]    Script Date: 05/30/2015 16:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[conclusion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[conclusion] [varchar](150) NULL,
	[explain_disease] [varchar](150) NULL,
	[suggestion] [varchar](150) NULL,
 CONSTRAINT [PK_conclusion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[conclusion] ON
INSERT [dbo].[conclusion] ([id], [name], [conclusion], [explain_disease], [suggestion]) VALUES (4, N'血糖', N'糖尿病', N'糖尿病是一组以高血糖为特征的代谢性疾病', N'进餐定时定量，菜肴少油少盐，多食用粗粮')
INSERT [dbo].[conclusion] ([id], [name], [conclusion], [explain_disease], [suggestion]) VALUES (5, N'血压', N'高血压', N'收缩压>=140mmHg，舒张压>=90mmHg', N'①减轻体重。②减少钠盐摄入。③补充钙和钾盐。④减少脂肪摄入。⑤增加运动。⑥戒烟、限制饮酒')
INSERT [dbo].[conclusion] ([id], [name], [conclusion], [explain_disease], [suggestion]) VALUES (6, N'甲状腺', N'甲状腺功能亢进症', N'甲状腺合成释放过多的甲状腺激素，造成机体代谢亢进和交感神经兴奋，引起心悸、出汗、进食和便次增多和体重减少的病症', N'进行抗甲状腺药物治疗，放射碘治疗和手术治疗')
SET IDENTITY_INSERT [dbo].[conclusion] OFF
/****** Object:  Table [dbo].[combo]    Script Date: 05/30/2015 16:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[combo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[combo_name] [varchar](50) NULL,
	[combo_items] [text] NULL,
	[combo_price] [varchar](50) NULL,
 CONSTRAINT [PK__combo__3213E83F03317E3D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[combo] ON
SET IDENTITY_INSERT [dbo].[combo] OFF
/****** Object:  Table [dbo].[Users]    Script Date: 05/30/2015 16:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[id] [varchar](50) NOT NULL,
	[name] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[position] [varchar](50) NULL,
	[office_id] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Users] ([id], [name], [password], [position], [office_id]) VALUES (N'FJ15410', N'王倩', N'wq123', N'分检医师', 5)
INSERT [dbo].[Users] ([id], [name], [password], [position], [office_id]) VALUES (N'FJ15411', N'何明方', N'hmf123', N'分检医师', 6)
INSERT [dbo].[Users] ([id], [name], [password], [position], [office_id]) VALUES (N'FJ15412', N'朱磊', N'zl123', N'分检医师', 7)
/****** Object:  Default [DF_groupReservation_time]    Script Date: 05/30/2015 16:07:40 ******/
ALTER TABLE [dbo].[groupReservation] ADD  CONSTRAINT [DF_groupReservation_time]  DEFAULT (getdate()) FOR [time]
GO
/****** Object:  Default [DF_groupReservation_status]    Script Date: 05/30/2015 16:07:40 ******/
ALTER TABLE [dbo].[groupReservation] ADD  CONSTRAINT [DF_groupReservation_status]  DEFAULT ((0)) FOR [status]
GO
/****** Object:  Default [DF_reservation_status]    Script Date: 05/30/2015 16:07:40 ******/
ALTER TABLE [dbo].[reservation] ADD  CONSTRAINT [DF_reservation_status]  DEFAULT ((0)) FOR [status]
GO
/****** Object:  ForeignKey [FK_Users_Users]    Script Date: 05/30/2015 16:07:40 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Users] FOREIGN KEY([office_id])
REFERENCES [dbo].[office] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Users]
GO
