<div ng-include="'views/admin/adminHeader.html'"></div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div ng-include="'views/admin/adminSidebar.html'"></div>
		</div>
		<!--/span-->
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="span9">
				<h1>添加套餐</h1>
				<div class='row'>
					<div class='col-xs-1 text-right'>
							<span>套餐名字:</span>
					</div>
					<div class='col-xs-2'>
							<input type="text" class="form-control" id=""
								name="name" placeholder="输入套餐名" ng-model='combo_name'>
					</div>
					<div class='col-xs-1 text-right'>
							<span>选择科室:</span>
					</div>
					<div class='col-xs-2'>
							<select ng-model="office" class="form-control"   ng-options="office.office_name for office in offices" ng-change="selectChange()">
                           </select>
					</div>
					<div class='col-xs-1'>
                           <button type="button" data-toggle="modal" data-target="#searchByOffice" ng-click='searchByOfficeAction(office)' class="btn btn-success button-width">选择项目</button>
					</div>
				</div>
				<table class="table table-word-wrap clear-float-left">
				<thead>
				 <tr>
				 	<th>所属科室</th>
				 	<th>项目名称</th>
				 	<th>单项价格</th>
				 	<th>操作</th>
				 </tr>
				</thead>
				<tbody>
				<tr ng-repeat = 'project in projectArray'>
					<td>{{project.office_name}}</td>
					<td>{{project.project_name}}</td>
					<td>{{project.price}}</td>
					<td><button type="button" ng-click='delete_project_action(project)' class="btn btn-danger button-width">删除</button></td>
				</tr>
				<tr>
					<td colspan="2" class='text-right'>价格总计：</td>
					<td>{{calculateTotalAmount()}}</td>
				</tr>
				</tbody>
				</table>
				<div class='row'>
					<div class='col-xs-1 text-right'>
							<span>套餐价格:</span>
					</div>
					<div class='col-xs-2'>
							<input type="text" class="form-control" id=""
								name="name" placeholder="输入套餐价格" ng-model='combo_price' 
								onkeyup="this.value=this.value.replace(/\D/g,'')"
								onafterpaste="this.value=this.value.replace(/\D/g,'')">
					</div>
				</div>
				<button class="btn btn-success button-width" ng-click='addCombo()'>确认添加</button>
			</div>
			<div>
					<div class="modal fade" id="searchByOffice" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">科室选择</h4>
								</div>
								<div class="modal-body">
								<h1>科室：{{office_name}}</h1>
								<table class="table table-word-wrap clear-float-left">
									<thead>
										<tr>
											<th></th>
											<th>项目名称</th>
											<th>单项价格</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat='examinationProject in examinationProjects'>
											<td><input type="checkbox" ng-click='selectOneProject(examinationProject)'></td>
											<td>{{examinationProject.project_name}}</td>
											<td>{{examinationProject.price}}</td>
										</tr>
									</tbody>
								</table>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">ok</button>
							</div>
						</div>
						</div>
					</div>
					</div>