<div ng-include="'views/admin/adminHeader.html'"></div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div ng-include="'views/admin/adminSidebar.html'"></div>
		</div>
		<!--/span-->
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="span9">
				<h1>添加套餐</h1>
				<div class='row'>
					<div class='col-xs-3'>
						<p class='input-group'>
							<span>套餐名字:</span><input type="text" class="form-control" id=""
								name="name" placeholder="输入套餐名" ng-model='combo_name'>
						</p>
					</div>
				</div>
				<table class="table table-word-wrap clear-float-left">
				<thead>
				 <tr>
				 	<th></th>
				 	<th>项目编号</th>
				 	<th>所属科室</th>
				 	<th>项目名称</th>
				 </tr>
				</thead>
				<tbody>
				<tr ng-repeat = 'examinationProjectItem in examinationProjectItems'>
					<td><input type="checkbox" ng-click='selectOneProject(examinationProjectItem)'></td>
					<td>{{examinationProjectItem.id}}</td>
					<td>{{examinationProjectItem.office_name}}</td>
					<td>{{examinationProjectItem.project_name}}</td>
				</tr>
				</tbody>
				</table>
				<button ng-click='addCombo()'>ok</button>
			</div>