<div ng-include="'views/admin/adminHeader.html'"></div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div ng-include="'views/admin/adminSidebar.html'"></div>
		</div>
		<!--/span-->
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="span9">
				<h1>科室：{{office_name}}</h1><button type="button" data-toggle="modal" data-target="#addExaminationProject" class="btn btn-success button-width">添加项目</button>
				<table class="table table-word-wrap clear-float-left">
				<thead>
				 <tr>
				 	<th>项目名称</th>
				 	<th>参照标准</th>
				 	<th>项目操作</th>
				 </tr>
				</thead>
				<tbody>
				<tr ng-repeat = 'examinationProject in examinationProjects'>
					<td>{{examinationProject.project_name}}</td>
					<td>{{examinationProject.reference_standard}}</td>
					<td>
					<button type="button" data-toggle="modal" data-target="#modifyExaminationProject" ng-click='modifyExaminationProject(examinationProject.id,examinationProject.project_name,examinationProject.reference_standard)' class="btn btn-success button-width">修改</button>
					<button type="button" ng-click='delete_examination_project(examinationProject.id,examinationProject.project_name)' class="btn btn-danger button-width">删除</button>
					 </td>
				</tr>
				</tbody>
				</table>
				<div>
				
				<div>
					<div class="modal fade" id="addExaminationProject" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">添加项目</h4>
								</div>
								<div class="modal-body">
									<h2>填写项目信息</h2>
									<p>
										项目名称：<input type="text" ng-model='project_name' />
									</p>
									<p>
										参照标准：<input type="text" ng-model='reference_standard' />
									</p>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary"
										ng-click='addExaminationProject()'
										ng-disabled="!project_name || !reference_standard">ok</button>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="modifyExaminationProject" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">修改体检项目</h4>
								</div>
								<div class="modal-body">
									<h2>填写项目信息</h2>
									<p>
										项目名称：<input type="text" ng-model='modify_project_name' />
									</p>
									<p>
										参照标准：<input type="text" ng-model='modify_reference_standard' />
									</p>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary"
										ng-click='modify_project_action()'
										ng-disabled="!modify_project_name || !modify_reference_standard">ok</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				</div>
	</div>
</div>

