<div ng-include="'views/admin/adminHeader.html'"></div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div ng-include="'views/admin/adminSidebar.html'"></div>
		</div>
		<!--/span-->
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="span9">
				<h1>科室管理</h1><button type="button" data-toggle="modal" data-target="#addOffice" class="btn btn-success button-width">添加</button>
				<table class="table table-word-wrap clear-float-left">
				<thead>
				 <tr>
				 	<th>科室名称</th>
				 	<th>门牌号</th>
				 	<th>操作</th>
				 </tr>
				</thead>
				<tbody>
				<tr ng-repeat = 'office in offices'>
					<td>{{office.office_name}}</td>
					<td>{{office.office_number}}</td>
					<td>
					<button type="button" data-toggle="modal" data-target="#modifyOffice" ng-click='modifyOfficeAction(office.id,office.office_name,office.office_number)' class="btn btn-success button-width">修改</button>
					<button type="button" ng-click='delete_office_action(office.id,office.office_name)' class="btn btn-danger button-width">删除</button>
					 </td>				
				</tr>
				</tbody>
				</table>
				<div>
					<div class="modal fade" id="addOffice" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">添加科室</h4>
								</div>
								<div class="modal-body">
									<h2>填写科室信息</h2>
									<p>
										科室名称：<input type="text" ng-model='office_name' />
									</p>
									<p>
										门牌号：<input type="text" ng-model='office_number' />
									</p>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary"
										ng-click='add_office_action()'
										ng-disabled="!office_name || !office_number">ok</button>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="modifyOffice" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">修改科室</h4>
								</div>
								<div class="modal-body">
									<h2>填写科室信息</h2>
									<p>
										科室名称：<input type="text" ng-model='modify_name' />
									</p>
									<p>
										门牌号：<input type="text" ng-model='modify_number' />
									</p>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary"
										ng-click='modify_office_action()'
										ng-disabled="!modify_name || !modify_number">ok</button>
								</div>
							</div>
						</div>
					</div>
				</div>
	</div>
</div>

