<div ng-include="'views/admin/adminHeader.html'"></div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div ng-include="'views/admin/adminSidebar.html'"></div>
		</div>
		<!--/span-->
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="span9">
				<h1>员工信息</h1>
				<table class="table table-word-wrap clear-float-left">
				<thead>
				 <tr>
				 	<th>序号</th>
				 	<th>姓名</th>
				 	<th>职位</th>
				 		 	
				 </tr>
				</thead>
				<tbody>
				<tr ng-repeat = 'reservationItem in reservationItems'>
					<td>{{reservationItem.id}}</td>
					<td>{{reservationItem.name}}</td>
					<td>{{reservationItem.sex}}</td>
					
				</tr>
				</tbody>
				</table>
	</div>
</div>

