<div ng-include="'views/admin/adminHeader.html'"></div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div ng-include="'views/admin/adminSidebar.html'"></div>
		</div>
		<!--/span-->
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="span9">
				<h1>体征词管理 </h1>
				<button type="button" data-toggle="modal" data-target="#addphysicalFeature"
					class="btn btn-success button-width">添加体征词</button>
				<table class="table table-word-wrap clear-float-left">
					<thead>
						<tr>
							<th>名称</th>
							<th>结论词</th>
							<th>操作符</th>
							<th>比较值（男）</th>
							<th>比较值（女）</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='physicalFeature in physicalFeatures'>
							<td>{{physicalFeature.name}}</td>
							<td>{{physicalFeature.result}}</td>
							<td>{{physicalFeature.operator}}</td>
							<td>{{physicalFeature.compare_man}}</td>
							<td>{{physicalFeature.compare_woman}}</td>
							<td>
								<button type="button" data-toggle="modal"
									data-target="#modifyphysicalFeature"
									ng-click='modifyphysicalFeatureAction(physicalFeature)'
									class="btn btn-success button-width">修改</button>
								<button type="button"
									ng-click='delete_physicalFeature_action(physicalFeature.id,physicalFeature.name)'
									class="btn btn-danger button-width">删除</button>
							</td>

						</tr>
					</tbody>
				</table>

				<div ng-if='physicalFeatures.length'>
					<tm-pagination conf="paginationConf"></tm-pagination>
				</div>
				<div>					
					<div class="modal fade" id="modifyphysicalFeature" tabindex="-1"
						role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">修改</h4>
								</div>
								<div class="modal-body">
									<h2>修改体征词</h2>
									<table class="table table-bordered" align="center">
										<tr>
											<td class="col-xs-1"><b>名称:</b></td>
											<td class="col-xs-4"><input class='form-control'
												type="text" ng-model='modify_name'
												 /></td>
										</tr>
										<tr>
											<td class="col-xs-1"><b>结论词:</b></td>
											<td class="col-xs-4"><textarea class="form-control " 
												data-items="50"
												ng-model="modify_result"></textarea></td>
										</tr>
										<tr>
											<td class="col-xs-1"><b>操作符:</b></td>
											<td class="col-xs-4">
											<span ng-click='modify_operator = ">="'><input type="radio" name='operator' ng-checked='modify_operator ==">="'/> &gt;= </span>
											<span ng-click='modify_operator = ">"'><input type="radio" name='operator' ng-checked='modify_operator ==">"'/> &gt; </span>
											<span ng-click='modify_operator = "<="'><input type="radio" name='operator' ng-checked='modify_operator =="<="'/>&lt;= </span>
											<span ng-click='modify_operator = "<"'><input type="radio" name='operator' ng-checked='modify_operator =="<"'/> &lt; </span>
											</td>
										</tr>
										<tr>
											<td class="col-xs-1"><b>比较值（男）:</b></td>
											<td class="col-xs-4"><input class='form-control'
												type="text" ng-model='modify_compare_man'
												 /></td>
										</tr>
										<tr>
											<td class="col-xs-1"><b>比较值（女）:</b></td>
											<td class="col-xs-4"><input class='form-control'
												type="text" ng-model='modify_compare_woman'
												 /></td>
										</tr>
									</table>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary"
										ng-click='modify_physicalFeature_action()'
										ng-disabled="!modify_name || !modify_operator ||!modify_compare_man ||!modify_compare_woman">ok</button>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div class="modal fade" id="addphysicalFeature" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">添加体征词</h4>
					</div>
					<div class="modal-body">
									<h2>添加体征词</h2>
									<table class="table table-bordered" align="center">
										<tr>
											<td class="col-xs-1"><b>名称:</b></td>
											<td class="col-xs-4"><input class='form-control'
												type="text" ng-model='name'
												placeholder="Name" /></td>
										</tr>
										<tr>
											<td class="col-xs-1"><b>结论词:</b></td>
											<td class="col-xs-4"><textarea class="form-control " 
												data-items="50"
												ng-model="result" ></textarea></td>
										</tr>
										<tr>
											<td class="col-xs-1"><b>操作符:</b></td>
											<td class="col-xs-4">
											<input  type="radio" name='operator' value='>=' ng-model='operator' ng-checked='modify_operator ==">="'/> >= 
											<input  type="radio" name='operator' value='>' ng-model='operator' ng-checked='modify_operator ==">"'/> > 
											<input  type="radio" name='operator' value='<=' ng-model='operator' ng-checked='modify_operator =="<="'/> <= 
											<input  type="radio" name='operator' value='<' ng-model='operator'ng-checked='modify_operator =="<"'/> < 
											</td>
										</tr>
										<tr>
											<td class="col-xs-1"><b>比较值（男）:</b></td>
											<td class="col-xs-4"><input class='form-control'
												type="text" ng-model='compare_man'
												 /></td>
										</tr>
										<tr>
											<td class="col-xs-1"><b>比较值（女）:</b></td>
											<td class="col-xs-4"><input class='form-control'
												type="text" ng-model='compare_woman'
												 /></td>
										</tr>
									</table>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary"
										ng-click='add_physicalFeature_action()'
										ng-disabled="!name || !result ||!operator ||!compare_man ||!compare_woman ">ok</button>
								</div>
				</div>
			</div>
		</div>