<div ng-include="'views/admin/adminHeader.html'"></div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div ng-include="'views/admin/adminSidebar.html'"></div>
		</div>
		<!--/span-->
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="span9">
				<h1>套餐列表</h1>
				<table class="table table-word-wrap clear-float-left">
				<thead>
				 <tr>
				 	<th>套餐名称</th>
				 	<th></th>
				 	<th></th>
				 	<th></th>
				 </tr>
				</thead>
				<tbody>
				<tr ng-repeat = 'combo in combos'>
					<td>{{combo.combo_name}}</td>
					 <td>
					<button type="button" ng-click='manage_combo_examination_project(combo.id)' class="btn btn-success button-width">查看项目</button> 
					 </td>				
					<td>
					<button type="button" ng-click='modifyCombo(combo.id)' class="btn btn-success button-width">修改</button>
					</td>
					<td>
					<button type="button" ng-click='deleteCombo(combo.id,combo.combo_name)' class="btn btn-danger button-width">删除</button>
					 </td>
				</tr>
				</tbody>
				</table>
	</div>
</div>

