<div >
<div ng-include="'views/receptionists/receptionistsHeader.html'"></div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div ng-include="'views/receptionists/receptionistSidebar.html'"></div>
			<!--/.well -->
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="span9">
			<div class="leaderboard">
				<h1>详细查询</h1>				
				<div class='row'>
					<div class='col-xs-1 text-right'>
						<b>日期</b>
					</div>
					<div class='col-xs-2'>
						<div class='input-group date' id='dateTimePicker'>
							<input type='text' id='reservation_date'
								ng-model='reservationInformation.date' class="form-control"
								data-date-format="yyyy-mm-dd" placeholder="选择日期"
								readonly='true' /> <span
								class="input-group-addon cursor-to-hand"> <span
								class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					<div class='col-xs-1 text-right'>
						<b>状态</b>
					</div>
					<div class='col-xs-1'>
						<select ng-model="status_value" class="form-control">
							<option value='' ng-init='value =1' selected = "selected">全部</option>
							<option value='1' ng-init='value =1' selected = "selected">已检</option>
							<option value='0'>未检</option>
							<option value='2'>弃检</option>
                        </select>
					</div>
					<div class='col-xs-1 text-right'>
						<b>套餐</b>
					</div>
					<div class='col-xs-2'>
						<select ng-model="combo_value" class="form-control" ng-options="combo.combo_name for combo in combos">
						<option value=''>全部</option>
                        </select>
					</div>
					<div class='col-xs-1 text-right'>
						<b>性别</b>
					</div>
					<div class='col-xs-1'>
						<select ng-model="sex_value" class="form-control">
							<option value=''>全部</option>
							<option value='man' >男</option>
							<option value='woman'>女</option>
                        </select>
					</div>
					<div class='col-xs-1'>
						<button class='btn btn-success' ng-click='queryAction()'>查询</button>
					</div>
				</div>
				<table class="table table-word-wrap clear-float-left">
				<thead>
				 <tr>
				 	<th>序号</th>
				 	<th>姓名</th>
				 	<th>性别</th>
				 	<th>出生日期</th>
				 	<th>电话</th>
				 	<th>体检日期</th>
				 	<th>套餐</th>				 	
				 	<th>团体id</th>				 	
				 	<th>操作</th>				 	
				 	<th>项目</th>				 	
				 </tr>
				</thead>
				<tbody>
				<tr ng-repeat = 'registrationList in registrationLists | filter:query'>
					<td>{{registrationList.id}}</td>
					<td>{{registrationList.name}}</td>
					<td ng-if="registrationList.sex == 'man'">男</td>
					<td ng-if="registrationList.sex == 'woman'">女</td>
					<td>{{registrationList.birthday}}</td>
					<td>{{registrationList.phone_number}}</td>
					<td>{{registrationList.date}}</td>
					<td>{{registrationList.combo || '自选'}}</td>
					<td>{{registrationList.group_id || '个人'}}</td>
					<td><button type="button" class="btn btn-success button-width" ng-click='give_up(registrationList)'>弃检</button> </td>
					<td><button type="button" data-toggle="modal" data-target="#reservation_physical_examination" ng-click='show_physical_examination(registrationList.physical_examination,registrationList.comments)' class="btn btn-success button-width">查看项目</button></td>
				</tr>
				</tbody>
				</table>
				<div ng-if='registrationLists.length'>
				<tm-pagination conf="paginationConf"></tm-pagination>
				</div>
			</div>
			</div>
        </div>
        
        <div>
					<div class="modal fade" id="reservation_physical_examination" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">登记的检查项目</h4>
								</div>
								<div class="modal-body">
								<table class="table table-word-wrap clear-float-left">
									<thead>
										<tr>
											<th>科室名称</th>
											<th>项目名称</th>
											<th>分检结果</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat='examinationProject in selected_physical_examination'>
											<td>{{examinationProject.office_name}}</td>
											<td>{{examinationProject.project_name}}</td>
											<td><textarea class="form-control " rows="2" data-items="50" ng-disabled="true">{{examinationProject.result || '未检'}}</textarea></td>
										</tr>
									</tbody>
								</table>
								<div><h5>总检结果：</h5>
									<textarea class="form-control " rows="2" data-items="50"
										ng-model='comments' placeholder='总检结果' ng-disabled="true"></textarea>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">ok</button>
							</div>
						</div>
						</div>
					</div>
					</div>
		