<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-list">
		<li class="nav-header">个人客户</li>
		<li><a ng-href="#reservation">体检预约</a></li>
		<li><a ng-href="#reservationBox">预约信息</a></li>
		<li><a href="#">体检登记</a></li>
		<li><a href="#">资料维护</a></li>
		<li><a href="#">项目更改</a></li>
		<li><a href="#">体检查询</a></li>
		<li class="nav-header">团体客户</li>
		<li><a href="#">体检预约</a></li>
		<li><a href="#">体检登记</a></li>
		<li><a href="#">资料维护</a></li>
		<li><a href="#">项目更改</a></li>
		<li><a href="#">体检查询</a></li>
	</ul>
</div>