<div >
<div ng-include="'views/receptionists/receptionistsHeader.html'"></div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">个人客户</li>
					<li><a ng-href="#reservation">体检预约</a></li>
					<li><a href="#">体检登记</a></li>
					<li><a href="#">资料维护</a></li>
					<li><a href="#">项目更改</a></li>
					<li><a href="#">体检查询</a></li>
					<li class="nav-header">团体客户</li>
					<li><a href="#">体检预约</a></li>
					<li><a href="#">体检登记</a></li>
					<li><a href="#">资料维护</a></li>
					<li><a href="#">项目更改</a></li>
					<li><a href="#">体检查询</a></li>
				</ul>
			</div>
			<!--/.well -->
		</div>
		<!--/span-->
		<div class="span9">
			<div class="leaderboard">
				<h1>体检预约</h1>
					<table class="table-bordered text-center">
						<tr>
							<td>姓名</td>
							<td><input type="text" class="form-control" id=""
								name="name" placeholder="输入姓名" ng-model='reservationInformation.name'></td>
							<td>性别</td>
							<td>男：<input type="radio" id="" name="sex" value="man" ng-model='reservationInformation.sex'>女：<input
								type="radio" id="" name="sex" value="woman" ng-model='reservationInformation.sex'>
							</td>
						</tr>
						<tr>
							<td>年龄</td>
							<td><input type="text" class="form-control" name="age" id=""
								placeholder="输入年龄" ng-model='reservationInformation.age'></td>
							<td>联系方式</td>
							<td><input type="text" class="form-control"
								name="phone_number" id="" placeholder="输入电话" ng-model='reservationInformation.phoneNumber'></td>
						</tr>

						<tr>
							<td>预约检查日期</td>
							<td><div class="specific-payment-date">
									<div class="create-payment-date">
										<div class='input-group date' id='dateTimePicker'>
											<input type='text' ng-model='reservationInformation.date'
												class="form-control" data-date-format="yyyy-mm-dd" /> <span
												class="input-group-addon cursor-to-hand"> <span
												class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>
								</div></td>
						</tr>
						<tr>
							<td>套餐</td>
							<td><input type="text" class="form-control" id=""
								placeholder=""></td>
						</tr>
						<tr>
							<td>体检项目</td>
							<td><input type="text" class="form-control" id=""
								placeholder=""></td>
						</tr>




					</table>
					<div>
					<div ng-repeat='physicalExamination in physicalExaminations'>
					<input type='radio' value='{{physicalExamination.name}}' ng-model = 'reservationInformation.physicalExamination' name='physicalExaminations'/>
					<label>{{physicalExamination.name}}</label>
					</div>
					
					
					</div>
					
				<p>
					<a class="btn btn-success btn-large" ng-click='submit()'>确认</a>
				</p>
			</div>
			
			</div>