<div class="col-sm-3 col-md-2 sidebar" ng-controller='doctorSidebarCtrl'>
	<ul class="nav nav-list" ng-if='position == "分检医师"'>
		<li class="nav-header">分检</li>
		<li><a ng-href="#fenjian">今日未检</a></li>		
		<li><a ng-href="#completeTodayFenjian">今日已检</a></li>		
		<li><a ng-href="#selectfenjianByDate">查询</a></li>		
	</ul>
	<ul class="nav nav-list" ng-if='position == "总检医师"'>
		<li class="nav-header">总检</li>
		<li><a ng-href="#zongjian">今日未检</a></li>
		<li><a ng-href="#completeTodayZongjian">今日已检</a></li>
		<li><a ng-href="#selectzongjianByDate">查询</a></li>
	</ul>
</div>