<div class="container" ng-controller='logInCtrl'>
		<form>	
        <section class="loginBox row-fluid">
          <section class="span7 left">
          	<h1>标准体检信息管理系统</h1>
            <h2>用户登录</h2>
            <p><input type="text" name="username" ng-model = 'username' placeholder="Name"/></p>
            <p><input type="text" name="password" ng-model = 'password' placeholder="Password"/>
            <p>
            	<input type="radio" name="position" ng-model = 'position' value="receptionist"/>前台
            	<input type="radio" name="position" ng-model = 'position' value="doctor"/>医生
            	<input type="radio" name="position" ng-model = 'position' value="manage"/>领导
            	<input type="radio" name="position" ng-model = 'position' value="admin"/>管理            	
            </p>

          <section class="span1"><input type="button" value=" 登录 " ng-click='log_in()' class="btn btn-primary">
          <button type="button" onclick="window.location.href='sign_in.jsp'" class="span1 btn btn-primary" id="sign_in">注册</button>
          </section>
        </section>
        </section></form>
    	
    </div>
    