<div ng-include="'views/manage/manageHeader.html'"></div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div ng-include="'views/manage/manageSidebar.html'"></div>
		</div>
		<!--/span-->
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="span9">
				<h1>套餐统计 </h1>
				<div class='row'>
					<div class='col-xs-3'>
						<p class='input-group'>
							<input type="text" class="form-control"
								 placeholder="search"
								ng-model='query'><span class="input-group-btn">
								<button type="button" class="btn btn-default"
									>
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</p>
					</div>
				</div>			
				<p/>
				<table class="table table-word-wrap clear-float-left">
				<thead>
				 <tr>
				 	<th>套餐名称</th>
				 	<th>套餐价格</th>
				 	<th></th>
				 </tr>
				</thead>
				<tbody>
				<tr ng-repeat = 'combo in combos  | filter:query'>
					<td>{{combo.combo_name}}</td>
					<td>{{combo.combo_price}}</td>
					 <td>
					<button type="button" ng-click='manage_combo_examination_project(combo.id)' class="btn btn-success button-width">查看</button> 
					 </td>					
				</tr>
				</tbody>
				</table>
				<div ng-if='combos.length'>
				<tm-pagination conf="paginationConf"></tm-pagination>
				</div>
			</div>
</div>

