<div ng-include="'views/manage/manageHeader.html'"></div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div ng-include="'views/manage/manageSidebar.html'"></div>
		</div>
		<!--/span-->
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="span9">
				<h1>套餐：{{combo_name}}</h1> 
				<table class="table table-word-wrap clear-float-left">
				<thead>
				 <tr>
				 	<th>所属科室</th>
				 	<th>项目名称</th>
				 	<th>单项价格</th>
				 </tr>
				</thead>
				<tbody>
				<tr ng-repeat = 'combo in combos'>
					<td>{{combo.office_name}}</td>
					<td>{{combo.project_name}}</td>
					<td>{{combo.price}}</td>
				</tr>
				</tbody>
				</table>
				<div>   
				</div>
	</div>
</div>

