<div ng-include="'views/manage/manageHeader.html'"></div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div ng-include="'views/manage/manageSidebar.html'"></div>
		</div>
		<!--/span-->
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="span9">
			<div class="leaderboard">
				<h1>体检登记表</h1>				
				<div class='row'>
					<div class='col-xs-3'>
						<p class='input-group'>
							<input type="text" class="form-control"
								 placeholder="search"
								ng-model='query'><span class="input-group-btn">
								<button type="button" class="btn btn-default"
									ng-click="search(id)">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</p>
					</div>
					<div class='col-xs-2'><button type="button" ng-click='allReservation()' ng class="btn btn-success button-width" ng-disabled="allReservationButton">所有体检登记</button></div>
					<div class='col-xs-2'><button type="button" ng-click='todayReservation()' ng class="btn btn-success button-width"ng-disabled="todayReservationButton">今日体检登记</button></div>
				</div>
				<table class="table table-word-wrap clear-float-left">
				<thead>
				 <tr>
				 	<th>序号</th>
				 	<th>姓名</th>
				 	<th>性别</th>
				 	<th>出生日期</th>
				 	<th>电话</th>
				 	<th>体检日期</th>
				 	<th>套餐</th>				 	
				 	<th>项目</th>				 	
				 </tr>
				</thead>
				<tbody>
				<tr ng-repeat = 'registrationList in registrationLists | filter:query'>
					<td>{{registrationList.id}}</td>
					<td>{{registrationList.name}}</td>
					<td ng-if="registrationList.sex == 'man'">男</td>
					<td ng-if="registrationList.sex == 'woman'">女</td>
					<td>{{registrationList.birthday}}</td>
					<td>{{registrationList.phone_number}}</td>
					<td>{{registrationList.date}}</td>
					<td>{{registrationList.combo || '自选'}}</td>
					<td><button type="button" data-toggle="modal" data-target="#reservation_physical_examination" ng-click='show_physical_examination(registrationList.physical_examination,registrationList.comments)' ng class="btn btn-success button-width">查看项目</button></td>
				</tr>
				</tbody>
				</table>
				<div ng-if='registrationLists.length'>
				<tm-pagination conf="paginationConf"></tm-pagination>
				</div>
			</div>
			</div>
        </div>
        
        <div>
					<div class="modal fade" id="reservation_physical_examination" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">登记的检查项目</h4>
								</div>
								<div class="modal-body">
								<table class="table table-word-wrap clear-float-left">
									<thead>
										<tr>
											<th>科室名称</th>
											<th>项目名称</th>
											<th>分检结果</th>
											<th>分检结论</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat='examinationProject in selected_physical_examination'>
											<td>{{examinationProject.office_name}}</td>
											<td>{{examinationProject.project_name}}</td>
											<td><textarea class="form-control " rows="2" data-items="50" ng-disabled="true">{{examinationProject.result || '未检'}}</textarea></td>
											<td><textarea class="form-control " rows="2" data-items="50" ng-disabled="true">{{examinationProject.conclusion || '未检'}}</textarea></td>
										</tr>
									</tbody>
								</table>
								<div><h5>总检结果：</h5>
									<textarea class="form-control " rows="2" data-items="50"
										ng-model='comments' placeholder='总检结果' ng-disabled="true"></textarea>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">ok</button>
							</div>
						</div>
						</div>
					</div>
					</div>
		